<a href="https://colab.research.google.com/github/rahanshahh/driverless_codes/blob/main/drvtask3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import pandas as pd
import numpy as np
import seaborn as sns

In [44]:
df = pd.read_csv('train.csv')

In [45]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [46]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [47]:
df = df.dropna()

In [48]:
df.Ticket[3], df.Embarked[3]

('113803', 'S')

In [49]:
df.Ticket

1      PC 17599
3        113803
6         17463
10      PP 9549
11       113783
         ...
871       11751
872         695
879       11767
887      112053
889      111369
Name: Ticket, Length: 183, dtype: object

In [50]:
df= df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   Ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 22.7+ KB

In [51]:
df.Embarked.unique()

AttributeError: ignored

In [ ]:
df.corr()

In [ ]:
df.Cabin.unique()

In [ ]:
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler

In [ ]:
def HandleTkt(value):
    values=value.split(' ')[-1]
    return value
def HandleSex(value):
    if value=="male":
        value=1
    else:
        value=0
    return value
def Preprocessing(df):
    df.Sex=df.Sex.astype(str)
    df.Sex=df.Sex.apply(HandleSex)
    df.Sex=df.Sex.astype(int)
    df.Age=df.Age.fillna(df.Age.median())
    df.Embarked=df.Embarked.astype(str)
    df.Embarked[(df.Embarked.isna())]==""
    df['Embarked:S']=0
    df['Embarked:C']=0
    df['Embarked:Q']=0
    for i in range(0,len(df)):
        if df.Embarked[i]=="S":
            df['Embarked:S'][i]=1
        if df.Embarked[i]=="C":
            df['Embarked:C'][i]=1
        if df.Embarked[i]=="Q":
            df['Embarked:Q'][i]=1
    df.Ticket=df.Ticket.astype(str)
    df.Ticket=df.Ticket.drop(df.Ticket[(df.Ticket=="LINE")].index,axis=0)
    df.reset_index()
    for i in range (0, len(df)):
        try:
            df.Ticket[i]=float(df.Ticket[i].split()[-1])
        except:
            print(str(i)+" - "+ str(df.Ticket[i]))

    df.Ticket=df.Ticket.astype(float)
    df.Ticket=df.Ticket.fillna(df.Ticket.median())
    df=df.drop(columns=['Cabin','Name','Embarked'],axis=1)
    df=df.drop(columns=["Age","SibSp","Parch"],axis=1)
    return df

In [ ]:
train_df=Preprocessing(df)

In [ ]:
df.Cabin.unique()

In [ ]:
for i in range(len(df)):
  try:
    df.Cabin[i]=str(df.Cabin[i])[0]
  except:
    print(i)

In [ ]:
df.corr()

In [ ]:
df[df.Survived==0].describe()

In [ ]:
df[df.Survived==1].describe()

In [ ]:
from linear_model import LogisticRegression
lr= LogisticRegression()
lr.fit(X,y)
y_preds=lr.predict(X_test)